{% extends "base.html" %}
{% load widget_tweaks %}

{% load static %}

{% block title %}ホーム - MemoryMap{% endblock %}

{% block extra_css %}<link rel="stylesheet" href="{% static 'css/create.css' %}">{% endblock %}

{% block content %}
<main class="main">
    <section class="create">
        <div class="create">
            <form method="post">
                {% csrf_token %}
                <div class="date">
                    <div class="form-group">
                        <label>{{ form.date.label }}</label>
                        {{ form.date|add_class:"form-control col-4" }}
                    </div>
                </div>
                <div class="title">            
                    <div class="form-group">
                        <label>{{ form.title.label }}</label>
                        {{ form.title|add_class:"form-control col-6" }}
                    </div>
                </div>
                <div class="text">
                    <div class="form-group">
                        <label>{{ form.text.label }}</label>
                        {{ form.text|add_class:"form-control col-10 custom-textarea" }}
                    </div>
                </div>
            </form>
        </div>
    </section>
    <div class="write">
        <button type="submit" class="btn btn-primary">日記を投稿する</button>
    </div>
</main>
{% endblock %}