{% extends "base.html" %}
{% load static %}

{% block title %}ホーム - MemoryMap{% endblock %}

{% block extra_css %}<link rel="stylesheet" href="{% static 'css/diary.css' %}">{% endblock %}

{% block content %}
        <section class="diary">
            <div class="diary">
                <h1 class="mydiary">日記一覧</h1>
                <div class="row">
                    {% for diary in diary_list %}
                <div class="col-12"> 
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'diary:diary_detail' diary.pk %}">{{ diary.title }}</a></h5>
                            <div class="tags">
                                {% for tag in diary.tags.all %}
                                    <a href="{% url 'diary:diary_list' %}?q=#{{ tag.name }}" class="tag">#{{ tag.name }}</a>
                                {% empty %}
                                    <span class="no-tag">タグ</span>
                                {% endfor %}
                            </div>
                            <div class="text">
                                <p class="card-text">{{ diary.text|truncatechars:50 }}<a href="{% url 'diary:diary_detail' diary.pk %}" class="btn btn-primary">&nbsp;...続き</a></p>
                            </div>
                            <div class="card-footer">
                                <p class="card-date">{{ diary.date }}</p>
                                <button type="button" class="diary_delete" data-bs-toggle="modal" data-bs-target="#deleteModal-{{diary.pk}}">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                                {% include 'diary/diary_delete.html' %}
                            </div>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>  
                {% endfor %}  
            </div>
                </div>
            </div>
        </section>

        <section class="search">
            <div class="search">
                <h1 class="search_title"></i>日記検索</h1>
                <div class="search-box">
                    <form action="{% url 'diary:diary_list' %}" method="GET" class="search-form">
                        <div class="search-bar">
                            <input type="text" name="q" placeholder="検索 (#タグ or キーワード)" class="search-input">
                            <button type="submit" class="search-btn">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <div class="write">
            <a href="{% url 'diary:diary_create' %}" class="icon-btn">
                <i class="fa-solid fa-book"></i>
            </a>
              
            <a href="{% url 'diary:todo_list' %}" class="icon-btn">
                <i class="fa-solid fa-pen-to-square"></i>
            </a>          
        </div>
    <script src="{% static 'js/delete.js' %}"></script>
{% endblock %}