{% extends "base.html" %}
{% load static %}

{% block title %}ホーム - MemoryMap{% endblock %}

{% block extra_css %}<link rel="stylesheet" href="{% static 'css/style.css' %}">{% endblock %}

{% block content %}
<main class="main">
    <section class="diary">
        <div class="diary">
            <h1 class="mydiary">日記</h1>
            <div class="row">
                {% for diary in diary_list %}
                <div class="col-12 mb-4"> 
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'diary:diary_detail' diary.pk %}">{{ diary.title }}</a></h5>
                            <div class="text">
                                <p class="card-text">{{ diary.text|truncatechars:50 }}</p>
                                <a href="{% url 'diary:diary_detail' diary.pk %}" class="btn btn-primary">&nbsp;...続き</a>
                            </div>
                            <p class="card-date">{{ diary.date }}</p>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>  
                {% endfor %}  
            </div>
        </div>
    </section>

    <section class="todo">
        <div class="content">
            <h1 class="today"><i class="fa-regular fa-pen-to-square"></i>やること</h1>
            {% for todo in todo_list %}
            <p>{{ todo.memo }}</p>
            {% endfor %}
        </div>
    </section>

    <div class="write">
        <p><a href="{% url 'diary:diary_create' %}">日記を投稿する</a></p>
        <p><a href="{% url 'diary:todo_create' %}">TODOを書く</a></p>
    </div>
</main>
{% endblock %}
