{% extends "base.html" %}
{% load static %}

{% block title %}ホーム - MemoryMap{% endblock %}

{% block extra_css %}<link rel="stylesheet" href="{% static 'css/todo.css' %}">{% endblock %}

{% block content %}
    <!-- メインコンテンツ -->
    <main class="main">
        <section class="create">
            <div class="create">
                <h1 class="mytodo">今日やること</h1>
                <p><a href="{% url 'diary:todo_create' %}">TODOを追加する</a></p>
            </div>
        </section>

        <section class="todo">
            <div class="content">
                <h1 class="today"><i class="fa-regular fa-pen-to-square"></i>やること</h1>
            </div>
        </section>

    </main>
{% endblock %}
