{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}ホーム - MemoryMap{% endblock %}

{% block extra_css %}<link rel="stylesheet" href="{% static 'css/todo.css' %}">{% endblock %}

{% block content %}
    <!-- メインコンテンツ -->
    <main class="main">
        <section class="create">
            <div class="create">
                <h1 class="mytodo">今日やること</h1>
                <main class="main">
                    <form method="post">
                        {% csrf_token %}
                        <div class="memo">
                            <div class="form-group">
                                {{ form.memo|add_class:"form-control col-12 custom-memo" }}
                            </div>
                        </div>
                        <button type="submit">追加する</button>
                    </form>
                </main>
            </div>
        </section>

        <section class="todo">
            <div class="content">
                <h1 class="today"><i class="fa-regular fa-pen-to-square"></i>やること</h1>
                <div class="row">
                    {% for diary in todo_list %}
                    <div class="col-12"> 
                        <div class="card">
                            <div class="card-body">
                                <div class="memo">
                                    <p class="card-memo">{{ diary.memo }}</p>
                                </div>
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>  
                    {% empty %}
                        <p>やることはありません。</p>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
