{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}ホーム - MemoryMap{% endblock %}

{% block extra_css %}<link rel="stylesheet" href="{% static 'css/todo.css' %}">{% endblock %}

{% block content %}
        <section class="create">
            <div class="create">
                <h1 class="mytodo">今日やること</h1>
                <main class="main">
                    <form method="post">
                        {% csrf_token %}
                        <div class="memo">
                            <div class="form-group">
                                {{ form.memo|add_class:"form-control col-12 custom-memo" }}
                            </div>
                        </div>
                        <button type="submit" class="add_button">追加する</button>
                    </form>
                </main>
            </div>
        </section>

        <section class="todo">
            <div class="content">
                <h1 class="today"><i class="fa-regular fa-pen-to-square"></i>やること</h1>
                <div class="row">
                    {% for todo in todo_list %}
                    <div class="col-12"> 
                        <div class="card">
                            <div class="card-body">
                                <div class="memo">
                                    <p class="card-memo">{{ todo.memo }}</p>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ todo.id }}">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                    {% include 'todo/todo_delete.html' %}
                                </div>
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>  
                    {% empty %}
                        <p>やることはありません。</p>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section class="todo_complete">
            
        </section>
{% endblock %}
